@media only screen and (max-width: 768px) {
    .off-canvas-wrap > div > section > div > div:nth-child(4) > .show-for-small-only{
        display: none !important;
    }

    #main > form > div:nth-child(4) > div{
        margin-top: 10px;
    }

    input[name="kodrab"]{
        background: #ebedef !important;
        border-radius: 5px;
        border: 1px solid #d6d6d6;
        box-shadow: inset 0 10px 10px rgba(255,255,255,0.5), inset 0 1px 0 #fff;
        border-top-color: #eaeaea;
        border-bottom-color: #bfbfbf;
        color: #565d64 !important;
    }

    .alert-box.info-icon{
        background-color: white;
        border: none;
        background-image: none !important;
        padding-left: 20px !important;
        text-align: center;
        color: black;
        margin-bottom: 0px;
        color: #374150;
        font-weight: bold;
        font-family: 'Noto Sans';
        .size-16{
            font-size: 14px;
            strong{
                br{
                    display: none;
                }
            }
        }
    }

    .legend{
        font-family: 'Noto Sans';
        font-size: 24px;
        color: #374150;
        text-align: center;
        strong{
            display: inline-block;
            font-family: 'Noto Sans';
            font-size: 24px;
            color: #374150;
            text-align: center;
            font-weight: normal;
        }
    }

    #main > table > tfoot > tr:nth-child(2) > td:nth-child(3) > input[type="submit"]{
        font-size: 11px;
        border: 1px solid #d6d6d6;
        box-shadow: inset 0 10px 10px rgba(255,255,255,0.5), inset 0 1px 0 #fff;
        border-top-color: #eaeaea;
        border-bottom-color: #bfbfbf;
        background-repeat: no-repeat;
        border-radius: 5px;
        background: #ebedef !important;
        color: #565d64 !important;
        text-shadow: none;
        line-height: 1.2;
        transition: all 0.2s linear;
        min-height: 35px;
        height: auto;
    }

    #main > div.alert-box.info-icon:nth-child(16){
        display: none;
    }

    #main > hr:nth-child(15){
        //display: none;
    }

    .cart-total{
        &_shipping{
            padding-top: 0px;
            .orange, small, >br{
                display: none;
            }
            .right.hide-small{
                font-family: 'Noto Sans';
                font-size: 16px;
                color: #374150;
                text-align: right;
                line-height: 20px;
                display: inline-block !important;
                margin-top: -25px;
            }
        }
        &_price{
            padding-top: 0px;
            a{
                float: right;
                margin-right: 15px;
                margin-top: -35px;
                margin-bottom: 30px;
            }
        }
    }

    .cart_total{
            padding-bottom: 30px;
            padding-top: 30px;
            &.bg-orange{
            background: #f5f7fa !important;
            border: 1px solid #dee6ed !important;
            color: black !important;
        }
    }
    i.jbArrow {
        border: solid #adb1b7;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        margin-left: 4px;
        margin-bottom: 2px;
      }

      .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    .jbAgree{
        color: #adb1b7;
    }
    .jbHide{
        display: none !important;
    }
    
    .jbHide2{
        visibility: hidden;
    }   
    #main > form > label:nth-child(18){
        margin-top: 20px;
    }
    #main > form > label:nth-child(20){
        margin-top: 20px;
    }

    #uniform-zgoda{
        &:after{
            content: '*';
            position: absolute;
        }
    }
    .jbContract{
        //display: flex;
        text-align: left;
        margin-top: 20px;
        padding-left: 10px;
    }
    #main > div.alert-box.info-icon:nth-child(12){
        display: none;
    }
}