

.col-price{
    .save{
        color: #f25749 !important;
        border: 1px dashed #f25749 !important;
    }
}

.jbDeliveryInforContainer{
    display:flex;
    //padding:13px;
    padding-top: 20px;
    padding-left: 0px;
    &Icon{
        margin-right:10px;
        img{
            height:30px;
            margin-top: -2px;
        }
    }
    &Text{
        color:#7cc576;
        font-size:12px;
        font-family: 'Noto Sans';
        font-weight: bold;
    }
}

.jbHide{
    display: none;
}

.productreader{
    > .columns{
        > .row{
            > .columns{
                .wysylka{
                   // display: none;
                }
            }
        }
    }
}