

.col-price{
    .save{
        color: #f25749 !important;
        border: 1px dashed #f25749 !important;
    }
}

.jbDeliveryInforContainer{
    display:flex;
    padding:13px;
    padding-top: 12px;
    padding-left: 0;
    padding-right: 0px;
    align-items: center;
    &Icon{
        margin-right: 2px;
        position: relative;
        left: -6px;
        img{
            height:30px;
            margin-top: -2px;
        }
    }
    &Text{
        color:#7cc576;
        font-size:13px;
        font-family: 'Noto Sans';
        font-weight: bold;
    }
}

.productreader{
    > .columns{
        > .row{
            > .columns{
                .wysylka{
                    //display: none;
                }
            }
        }
    }
}

.jbNoMargin{
    margin-top: 0px !important;
}


.jbTotalPrice{
   // margin-top: 80px;
}