.jbUspContainer {
  width: 100%;
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  flex-direction: column;
  background: #599ce6;
  &Row {
    &:not(:last-of-type) {
      margin-bottom: 12px;
    }
    display: flex;
    align-items: center;
    img {
      width: 24px;
      margin-right: 12px;
    }
    &Text {
      font-size: 11.4px;
      color: #fafafa;
      font-family: "Noto Sans";
    }
  }
}
.headline-azure {
  margin-bottom: 20px !important;
}
#header-tab {
  margin-bottom: 4px !important;
}

#left {
  padding-top: 8px !important;
}


body > .off-canvas-wrap > div > .jbUspContainer.small-16.columns{
  padding-left: 6px !important;
  padding-right: 6px !important;
}