.jbUspContainer {
  width: 100%;
  display: flex;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 16px;
  padding-bottom: 16px;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #599ce6;
  &Row {
    &:not(:last-of-type) {
      margin-bottom: 12px;
    }
    display: flex;
    align-items: center;
    img {
      width: 24px;
      margin-right: 12px;
    }
    &Text {
      font-size: 11.4px;
      color: #fafafa;
      font-family: "Noto Sans";
    }
  }
}
.headline-azure {
  margin-bottom: 20px !important;
}
