<div class="jbUspContainer small-16 columns">
  <div class="jbUspContainerRow">
    <img src="../../../assets/sprint3/v5/icon-books-white.svg" />
    <div class="jbUspContainerRowText">
      Oferujemy szeroki asortyment - ponad 120 tys. produktów
    </div>
  </div>
  <div class="jbUspContainerRow">
    <img src="../../../assets/sprint3/v5/icon-badge-white.svg" />
    <div class="jbUspContainerRowText">
      Dysponujemy solidną wiedzą - działamy już 11 lat
    </div>
  </div>
  <div class="jbUspContainerRow">
    <img
      src="../../../assets/sprint3/v5/ic-round-collections-bookmark-white.svg"
    />
    <div class="jbUspContainerRowText">
      Dbamy o wybór najcenniejszych tytułów
    </div>
  </div>
</div>
