.cart_unit > .cart_unit {
  display: none !important;
}
.jbPrice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 105px;
    align-items: center;
  > del {
    font-family: "Noto Sans";
    font-weight: bold;
    font-size: 12px;
    color: #adadad;
    text-align: center;
  }
  .cart_unit{
    font-size: 20px !important;
    width: auto !important;
  }
  .jbPercent {
    font-family: "Noto Sans";
    font-weight: bold;
    font-size: 12px;
    color: #f25749;
    text-align: center;
    width: 110%;
  }
  .jbValue{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    .currency{
      padding-left: 4px;
    }
  }
}