@media only screen and (max-width: 768px) {
    #header-logo{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .jbSSL{
        right: 5px;
        position: absolute;
        display: flex;
        flex-direction: row;

        .jbText{
            width: 100px;
            padding-right: 5px;
            span{
                font-family: 'Noto Sans';
                font-weight: bold;//-Bold;
                font-size: 12px;
                color: #7CC576;
                text-align: right;
                line-height: 14px;
                text-align: right;
                display: flex;
            }
        }
        img{
            width: 24px;
        }
    }
}