.jbSSL {
  position: absolute;
  top: 0;
  left: 210px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  padding-top: 5px;
  img {
  }
  span {
    font-weight: bold;
    font-size: 14px;
    color: #1a55a6;
    line-height: 1.15;
    padding-left: 10px;
    display: flex;
  }
}
