.legend{
    color: black;
}

.columns {
    width: 100%;
  }
  
  .jbHidden {
    display: none;
  }
  #company,
  #przenies {
  }
  div.checker span {
    text-align: center;
  }
  div.checker {
    margin-right: 12px;
  }
  div.checker span.checked {
    background-position: -76px -262px !important;
  }

  .checker {
    font-family: "Noto Sans";
    font-size: 12px;
    color: #4d4d4d;
  }
  .jbCheckboxChange {
    margin-top: 18px;
  }
  .jbLegend {
    flex-direction: column;
    align-items: center;
    strong {
      margin-left: 0px;
    }
  }
  #uniform-company,
  #uniform-przenies {
    span {
      position: relative;
      width: 0;
      input {
        display: none;
      }
      &:before {
        content: url("../../../assets/sprint2/v2/square.svg");
        position: absolute;
        top: -2px;
      }
    }
    > span.checked {
      position: relative;
      input {
        display: none;
      }
      &:before {
        content: url("../../../assets/sprint2/v2/check-square.svg");
        position: absolute;
        top: 0px;
      }
    }
  }

#uniform-company {
  margin-right: 10px !important;
}
.columns.jbHidenInputsCompany:not(.jbHidden) {
  margin-top: 12px;
}

.jbHide{
    display: none;
}

.jbShow{
    display: block !important;
}

#panel-fizyczna > form > hr:nth-child(2),
#panel-fizyczna > form > div:nth-child(3),
#panel-firma > form > hr:nth-child(4),
#panel-firma > form > div:nth-child(5),
#panel-biblioteka > form > hr:nth-child(4),
#panel-biblioteka > form > div:nth-child(5){
    display: none;
}

#panel-firma > form > div:nth-child(3) > div.medium-12.medium-offset-4.columns > label,
#panel-fizyczna > form > div:nth-child(1) > div.medium-12.medium-offset-4.columns > label
{
    margin-top: 10px;
}