.rectangle-promo.orange{
    background-color: #F25849;
}

.jbHide{
    display: none;
}

.jbNewBadge{
    margin-left: 0px !important;
}

.jbBlackColor{
    color: black !important;
}

.jbSave {
    color: #f25749 !important;
    max-width: 126px !important;
    font-size: 13px !important;
    border: 1px dashed #f25749 !important;
  }
  
  .jbPromo {
    display: flex;
    margin-top: 20px;
  
    span {
      font-family: "Noto Sans";
      font-size: 12px;
      color: #f25749;
      margin-left: 5px;
      line-height: 1.3;
    }
  }
  