@media only screen and (max-width: 768px) {
    input[name="kodrab"]{
        background: #ebedef !important;
        border-radius: 5px;
        border: 1px solid #d6d6d6;
        box-shadow: inset 0 10px 10px rgba(255,255,255,0.5), inset 0 1px 0 #fff;
        border-top-color: #eaeaea;
        border-bottom-color: #bfbfbf;
        color: #565d64 !important;
    }
}