@import "../progressbar/progressbar-mixin.scss";

@include progressBarMixin(20px);
#breadcrumb {
  display: none !important;
}

#top.row {
  display: none;
}

.headline-border-bottom.headline {
  display: none;
}

.row-order-step {
  display: none;
}

#footer-newsletter {
  display: none;
}

.row {
  .large-4.xlarge-3.columns.show-for-large-up {
    display: none !important;
  }
  .small-16.large-12.xlarge-13.columns {
    width: 100%;
    #main {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      form {
        width: 50%;
        margin-top: 120px;
        .medium-5 {
          width: 45%;
        }
        hr {
          display: none;
        }
      }
    }
  }
}

.row .text-right {
  float: right;
  margin-right: 300px;
  display: flex;
  input.submit-next {
    font-size: 14px;
    text-shadow: none;
    box-shadow: none;
    background: #ff7b00 !important;
    background-image: url("../../../assets/sprint1/v1/white-array.png") !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
  }
}

#header-logo {
  .show-for-large-up {
    margin-right: 0px !important;
  }
}
