.small-9.medium-11.columns{
    .row{
        display: flex;
        flex-direction: column;
        .show-for-medium-up{
            h1{
                font-size: 25px;
            }
        }
        
        .parametry.parametry-top{
            margin-bottom: 10px;
            li:nth-child(n){
                display: none;
            }
            li:nth-child(2),
            li:last-child{
                display: flex;
                strong{
                    margin-left: 6px;
                }
            }
        }

        .wysylka{
            background: url('../../../assets/sprint2/v5/truck_small.svg');
            background-repeat: no-repeat;
        }
    
        .medium-8.columns.col-price.show-for-medium-up{
            display: flex;
            flex-direction: column;
            padding-left: 11px !important;
            margin-top: 12px;
            &:before{
                display: none;
            }
            .oldPirce, .price{
                color: white;
                font-size: 1px;
            }
            .oldPirce{
                margin-bottom: 2px;
                strong span{
                    font-size: 18px;
                }
            }
            .price strong{
                color: #F25749;
                span{
                    font-size: 30px;
                }
            }
            .save{
                border-color: #F25749;
                color: #F25749;
            }
            .add-cart-big{
                background: #FF7B00;
                border-radius: 3px;
                font-family: 'Noto Sans';
                font-weight: bold;
                font-size: 14px;
                color: #FFFFFF;
                text-align: center;
                width: 60%;
                span{
                    padding-left: 0px;
                    background-image: none;
                }
            }

            .jbAddButton{
                width: 60%;
                span{
                    &:before{
                        position: absolute;
                        left: 26px;
                        padding-top: 1.2px;
                        content: url('../../../assets/sprint2/v7/check-circle.svg');
                    }
                }
            }

            .jbRedirectToBasket{
                display: flex;
                margin-top: 8px;
                color: #FF7B00;
                font-size: 14px;
                font-weight: bold;
                &:after{
                    padding-left: 5px;
                    content: url('../../../assets/sprint2/v5/angle-right.svg');
                }
            }

            .jbWysylka{
                display: flex;
                flex-direction: row;
                font-family: 'Noto Sans';
                font-size: 13px;
                margin-top: 20px;
                color: #374150;
                font-weight: bold;
                width: 130%;
                img{
                    padding-right: 10px;
                }
            }
        }
    }
}

.productreader .add-clipboard{
    margin-left: 0px;
}

.jbHide{
    display: none !important;
}