@import '../progressbar/progressbar-mixin.scss';

@include progressBarMixin(20px);
#breadcrumb{
    display: none !important;
}

#top.row{
    display: none;
}

#header-bg{
    .small-9.columns.text-right.show-for-large-up{
        display: none !important;
    }
}

.off-canvas-wrap > div > section > div > .large-4.xlarge-3.columns.show-for-large-up{
    margin-top: 50px;
}

#header-search-container{
    display: none !important;
}

.row-order-step{
    display: none;
}

.headline-border-bottom.headline{
    display: none;
}

#footer-newsletter{
    display: none;
}

#main{
    margin-top: 120px;
}

body > div.off-canvas-wrap > div > section > div > div:nth-child(4) > div.show-for-large-up{
    display: none !important;
}

.row .text-right {
   // justify-content: center;
   // display: flex;
    input.submit-next{
        font-size: 14px;
        text-shadow: none;
        box-shadow: none;
        background: #ff7b00 !important;
        background-image: url('../../../assets/sprint1/v1/white-array.png') !important;
        background-repeat: no-repeat !important;
        background-position: right center !important;
    }
}