@import '../progressbar/progressbar-mixin.scss';

@include progressBarMixin(20px);
html{
    display: none !important;
}
#breadcrumb{
    display: none !important;
}

#top.row{
    display: none;
}

#header-bg{
    .small-9.columns.text-right.show-for-large-up{
        display: none !important;
    }
}

#header-search-container{
    display: none !important;
}

.row-order-step{
    display: none;
}

.headline-border-bottom.headline{
    display: none;
}

.row{
    #main{
        margin-top: 120px;
    }
}

.row{
    .large-4.xlarge-3.columns.show-for-large-up{
        display: none !important;
    }
    .small-16.large-12.xlarge-13.columns{
        width: 100%;
        justify-content: center;
        display: flex;
        #main{
            width: 60%;
            display: flex;
            flex-direction: column;
        }
    }
}

#footer-newsletter{
    display: none;
}

.off-canvas-wrap form > .text-right {
    justify-content: center;
    display: flex;
    margin-left: calc(55%);
    > input.submit-next{
        font-size: 14px;
        text-shadow: none;
        box-shadow: none;
        background: #ff7b00 !important;
        background-image: url('../../../assets/sprint1/v1/white-array.png') !important;
        background-repeat: no-repeat !important;
        background-position: right center !important;
    }
}