<div class="jbNewTop">
    <div class="jbNewTopItems">
    <div class="jbNewTopIcon">
        <a href="http://czytam.pl"><img src="/img/logo.png" class="jbNewLogo" alt="Księgarnia internetowa Czytam.pl"></a>
    </div>
    <div class="jbNewTopActions">
        <a href="#biblioteki" class="left-off-canvas-toggle jbMenu"><img src="../../../assets/sprint3/v3/menu-icon.svg" alt=""></a>
       <!-- <a href="#header-search-container" class="show-block"><img src="https://czytam.pl/img/nav-mobile-search.png" alt=""></a>-->
        <a href="https://czytam.pl/konto.html" class="jbAccount"><img src="../../../assets/sprint3/v3/account-icon.svg" alt=""></a>
    </div>
</div>
</div>