#status,
.row#top,
#header-logo,
#header-nav-mobile{
    display: none !important;
}

#header-bg{
    padding-bottom: 0px;
    background: white;
}

.jbNewLogo{
    width: 140px;
}

#header-slider{
    padding-left: 20px;
    padding-right: 20px;
    background: white;
    margin-top: 10px;
}

.tabs-content{
    background: #cfe0ed;
}

.tabs dd.active a{
    border-top: 4px solid #1c54a5;
    border-bottom: unset;
    border-radius: 5px 5px 0px 0px;
}

#header-tab,
.owl-pagination{
    display: none !important;
}
.owl-carousel.owl-theme{
    height: auto !important;
    .owl-wrapper-outer{
        .item{
            //margin-left: 20px !important;
           // margin-right: 0px !important;
            padding-top: 0px !important;
            padding-bottom: 10px !important;
            &:before{
                display: none;
               // background: #cfe0ed !important;
            }
            
        }
    }
}


.jbNewTop{
    display: flex;
    flex-direction: row;
    background: #CFE0ED;
    border-bottom: 1px solid  #b1bfca;
    &Icon{
        display: flex;
    }
    &Items{
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &Actions{
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        right: 0;
        .jbMenu{
            margin-left: 5px;
            margin-right: 15px;
        }
        .jbSearch{
            margin-right: 5px;
            img{
              //  width: 30px;
            }
        }
        .jbAccount{
            margin-left: 20px;
            margin-right: 10px;
        }
        .jbCart{
            margin-left: 10px;
            .cart_quantity.no-empty{
                background: #ff7b00;
            }
            .cart_quantity{
                background: #78b3f4;
                position: absolute;
                top: -6px;
                right: 38px;
                font-size: 11px;
                text-align: center;
                height: 25px;
                line-height: 25px;
                padding: 0 10px;
                color: #fff;
                border-radius: 100% 100% 100% 0;
                height: 20px;
                width: 20px;
                padding: 0;
                line-height: 20px;
            }
        }
    }
}

.level_2,
.level-3,
.level_4{
    .header-nav-list{
        li{
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
}

@media (max-width: 350px){
    .jbNewTopActions{
        img{
            width: 25px;
        }
    }
}