#top.row{
    display: none;
}

.row-order-step{
    display: none;
}

.show-for-small-only{
    display: none !important;
}

.cart_summary{
    margin-bottom: 0px;
    thead,
    tbody{
        display: none;
    }
    tfoot{
        tr:nth-child(1){
            display: none;
        }
    }
}

.headline-border-bottom.headline{
    display: none;
}

.logout{
    margin-bottom: 20px;
}

.jbHeader{
    background: url(https://czytam.pl/img/dott-h.png) bottom repeat-x;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.1;
    span{
        display: flex;
        left: calc(28%);
        position: relative;
        font-family: 'Noto Sans';
        color: #374150;
        font-size: 30px;
        font-weight: normal;
        margin-top: 0;
        line-height: 1.1;
    }
}

.jbBasket{
    .jbProductItem{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        padding-bottom: 20px;
        border-bottom: 1px solid #dee6ed;
        margin-bottom: 10px;
        align-items: center;
        &Img{
            width: 95px;
            height: 89px;
            cursor: pointer;
        }
        &Remove{
            height: 20px;
            width: 30px;
        }
        &Content{
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            width: 100%;
            &Title{
                font-family: 'Noto Sans';
                color: #374151;
                font-weight: bold;
                font-size: 12px;
            }
            &Buttons{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 5px;
                &Minus,
                &Add{
                    padding: 0 13px;
                    font-size: 13px;
                    display: block;
                    border: 1px solid #c6d8e5;
                    background: #fff;
                    color: #97a8c2;
                    font-family: 'Noto Sans';
                    border-radius: 4px;
                    cursor: pointer;
                }
                input{
                    width: 35px;
                    height: 30px;
                }
                input[type="text"]{
                    width: 40px;
                }
                &Add{
                    margin-left: 10px;
                }
               &Minus{
                   margin-right: 10px;
               }
            }
            &Price{
                margin-top: 4px;
                font-size: 18px;
                font-weight: bold;
                color: #374151;
            }
            &PromoPrice{
                font-size: 14px;
                font-weight: bold;
                text-decoration: line-through;
                color: #374151;
            }

        }
        .jbCounter{
            //width: 60%;
            font-weight: bold;
            text-align: center;
            color: #374150;
        }
    }
}

.jbTotalSummary{
    display: flex;
    flex-direction: row;
    height: 50px;
    background: #f0f5fb;
    width: 100%;
    align-items: center;
    padding: 10px;
    .price{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        position: absolute;
        right: 20px;
        .value{
            color: #ff7a01;
            font-family: 'Noto Sans';
            font-weight: bold;
            font-size: 28px;
        }
        .currency{
            margin-left: 5px;
        }
    }
    .currency,
    .title{
        color: #ff7a01;
        font-size: 14px;
        font-weight: bold;
    }
}
input[name="kodrab"]{
    color: #565d64 !important;
    background: #ebedef !important;
    height: 34px !important;
}
#main > form > .small-16.small-full.columns:not(.jbInfo){
    display: none;
}

.off-canvas-wrap section > div > hr:nth-child(6){
    display: none;
}

.jbInfo{
    padding: 10px;
    padding-top: 0px;
}

.text-right form input.submit-next{
    font-size: 14px;
    width: 140px;
    text-shadow: none;
    box-shadow: none;
    background: #ff7b00 !important;
    background-image: url('../../../assets/sprint1/v1/white-array.png') !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
}