
.jbUspContainer{
    width:100%;
    display:flex;
    justify-content: space-between;
    padding:20px;
    margin-bottom:20px;
    &Item{
        display:flex;

        &Icon{
            margin-right:8px;
            img{
                height:48px;
            }
        }
        &Text{
            font-size:13px;
            line-height: 1.3em;
            color:#6f819c;
            font-family: 'Noto Sans';
        }
    }
    &:after{
        content: "";
        height:1px;
        width:100%;
        background-color:#dee6ed;
        position:absolute;
        left:-11px;
        top:100px;
    }
}
