<div class="jbUspContainer">
    <div class="jbUspContainerItem">
        <div class="jbUspContainerItemIcon">
            <img src="../../../assets/sprint1/v1/ksiazki.svg" />
        </div>
        <div class="jbUspContainerItemText">U nas możesz wybierać spośród<br> 120 tys. pozycji - na pewno <br>
            znajdziesz coś dla siebie!</div>
    </div>
    <div class="jbUspContainerItem">
        <div class="jbUspContainerItemIcon">
            <img src="../../../assets/sprint1/v1/szkielko.svg" />
        </div>
        <div class="jbUspContainerItemText">Znamy się na książkach<br> i wybieramy dla Ciebie te <br> najbardziej
            wartościowe.</div>
    </div>
    <div class="jbUspContainerItem">
        <div class="jbUspContainerItemIcon">
            <img src="../../../assets/sprint1/v1/dostawa.svg" />
        </div>
        <div id="jbUspDynamicText" class="jbUspContainerItemText">Ciesz się wymarzoną pozycją <br>w błyskawicznym tempie<br> - wysyłka już
            dzisiaj!</div>
    </div>
</div>