#left {
  width: calc(100% / 3);
  margin-right: 10px;
  > hr {
    display: none;
  }
  nav {
    display: none !important;
  }
}
.xlarge-11 {
  width: 100%;
}
#opis {
  width: calc(100% - (100% / 3));
  margin-top: 20px;
}

.jbDescWrap {
  display: flex;
  flex-direction: row;
  margin-top: 30px !important;
  background: url(https://czytam.pl/img/bg-hr.png) top repeat-x;
  //   float: right;
}

.rectangle-promo{
  margin-left: 140px !important;
}

.save{
  max-width: 197px !important;
}