#left {
  width: calc(100% / 3);
  margin-right: 10px;
  > hr {
    display: none;
  }
  nav {
    display: none !important;
  }
}
.xlarge-11 {
  width: 100%;
}
#opis {
  width: calc(100% - (100% / 3));
  margin-top: 20px;
}

.jbDescWrap {
  display: flex;
  margin-top: 30px !important;
  background: url(https://czytam.pl/img/bg-hr.png) top repeat-x;
  //   float: right;
}
.jbGallery {
  display: flex;
  flex-direction: column-reverse;
  margin-right: 30px;
}

.tab-gallery {
  display: flex;
  flex-direction: column;
}
.jbWrapGallery {
  display: flex;
}
.tab-gallery {
  padding-top: 4px !important;
  margin-right: 16px;
  width: 100px;
}
.jbGallery + div {
  width: 60% !important;
}

.add-cart-big{
  width: 42% !important;
}