<div class="medium-12  medium-offset-4  columns">
  <label class="inline-block">
    <input type="checkbox" name="company" value="0" id="company" />

    Chcę otrzymać fakturę na firmę
  </label>
</div>
