#main > form {
  .columns {
    width: 100%;
  }
  .legend {
    font-family: "Noto Sans";
    font-size: 28px;
    //color: #374150;
    text-align: left !important;
    display: flex !important;
    justify-content: center;
    strong {
      margin-left: 4px;
    }
  }
  .jbHidden {
    display: none;
  }
  #company,
  #przenies {
  }
  div.checker span {
    text-align: center;
  }
  div.checker {
    margin-right: 12px;
  }
  div.checker span.checked {
    background-position: -76px -262px !important;
  }

  .checker {
    font-family: "Noto Sans";
    font-size: 12px;
    color: #4d4d4d;
  }
  .jbCheckboxChange {
    margin-top: 18px;
  }
  .jbLegend {
    flex-direction: column;
    align-items: center;
    strong {
      margin-left: 0px;
    }
  }
  #uniform-company,
  #uniform-przenies {
    span {
      position: relative;
      width: 0;
      input {
        display: none;
      }
      &:before {
        content: url("../../../assets/sprint2/v2/square.svg");
        position: absolute;
        top: -2px;
      }
    }
    > span.checked {
      position: relative;
      input {
        display: none;
      }
      &:before {
        content: url("../../../assets/sprint2/v2/check-square.svg");
        position: absolute;
        top: 0px;
      }
    }
  }
}

#uniform-company {
  margin-right: 10px !important;
}
.columns.jbHidenInputsCompany:not(.jbHidden) {
  margin-top: 12px;
}