.jbColumn {
    position: relative;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    float: left;
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}
.jbRow {
    width: 96%;
    justify-content: center;
    display: flex;
    border: 1px solid #374150;
    border-style: dashed;
}
.jbRowContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    padding-left: 35px !important;
    span {
        margin-left: 15px;
        display: flex;
        font-family: 'Noto Sans';
        font-weight: bold;
        font-size: 12px;
        color: #374150;
        line-height: 1.3;
    }
}
.jbRow:after {
    content: "";
    display: table;
    clear: both;
}
.jbSecondText {
    font-size: 12px;
}
#jbUpsFirstText{
    width: 75% !important;
}
#jbUpsSecondText{
    width: 70% !important;
}
#jbUpsThirdText{
    br{display: none;}
    width: 70%;
}