.jbBreadcrumb{
    display: flex;
    align-items: center;
    margin-left: -5px;
    margin-bottom: 3px;
    margin-top: -4px;
    &:before{
        content: url('../../../assets/sprint3/v9/chevron-1.svg');
        transform: rotate(90deg);
    }
    font-weight: bold;
    font-size: 13px;
    color: #374151;
}