.jbDeliveryInforContainer {
    display: flex;
    padding: 20px;
    &Icon {
        margin-right: 14px;
        img {
            height: 24px;
        }
    }
    &Text {
        color: #7cc576;
        font-size: 12.5px;
        font-family: 'Noto Sans';
        font-weight: bold;
        width: 260px;
    }
}

#info_gratis {
    display: none;
}

.jbIcon {
    font-size: 14px;
    strong {
        margin-left: 2px;
        &:before {
            content: "\A";
            white-space: pre;
        }
    }
}

.jbGreenInfo {
    background-color: #CDF1CA;
    border: 1px solid #7cc576;
    color: #7cc576;
    display: flex;
    align-items: center;
    font-size:14px;
    font-weight: bold;
    br{
        display:none;
    }
    img{
        margin-right:6px;
        position:relative;
        left:-4px;
    }

}