.rectangle-promo.orange {
  background-color: #f25849 !important;
}

.jbHide {
  display: none;
}

.jbNewBadge {
  margin-left: 0px !important;
 // width: 160px !important;
  margin-bottom: 0px !important;
}

.jbTotalPrice {
  .jbOldPrice {
    display: flex;
    flex-direction: column;
  }
  .jbNewPrice {
    display: flex;
    flex-direction: column;
  }
}

.tab-gallery {
  //margin-bottom: 34px;
}
.parametry {
  margin-top: 0px !important;
}

.jbPromoCOntainer {
  display: flex;
  position: relative;
  padding-left: 24px;
  line-height: 12px;
  margin-top: 10px;
  img {
    position: absolute;
    left: 0;
    top: 6px;
  }

  span {
    font-size: 12px;
    color: #ee4234;
  }
}

.tab-gallery {
  //margin-bottom: 46px !important;
}

.nonPromoGallery {
  margin-bottom: 0 !important;
}


.jbNewPrice{
  .value{
    
  }
}

.jbPromoPadding{
  padding-top: 160px !important;
}
