<div class="jbPromoCOntainer">
  <img src="../../../assets/sprint3/v2/warning-round.svg" />
  <div class="jbPromoText">
    <span class="jbPromoTextFirst">
      Produkty promocyjne<br />
      wyprzedają się szybciej
    </span>
  </div>
</div>
