#info_gratis {
  display: block;
}
.jbInfoHeader {
  display: flex;
  align-items: center;
  font-size: 11px;
  line-height: 1.5;
  color: #f14332;
  font-weight: bold;
  margin-left: 0px;
  text-align: center;
  font-family: "Noto Sans";
  margin-top: 10px;
  justify-content: center;
  text-align: center;
}

.jbFreeDeliveryCOntent {
  display: flex;
  flex-direction: row;
  background: #f0f5fb;
  width: 100%;
  align-items: center;
  .price {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: absolute;
    right: 20px;
    width: 35%;
    .value {
      color: #68ba61;
      font-family: "Noto Sans";
      font-weight: bold;
      font-size: 20px;
    }
    .currency {
      margin-left: 5px;
    }
  }
  .currency,
  .title {
    color: #68ba61;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
  }
}

.jbTotalSummary {
  .price {
    width: 35%;
  }
}

.jbHidden {
  display: none !important;
}

.row .jbInfo:nth-child(11),
.row .hr-3:nth-child(10){
  display: none !important;
}