<div class="medium-12  medium-offset-4  columns">
  <label class="inline-block jbChecked">
    <input type="checkbox" name="company" value="1" id="company" />

    Chcę fakturę do zamówienia
  </label>
</div>
