@import "../progressbar/progressbar-mixin.scss";

@include progressBarMixin(20px);
#breadcrumb {
  display: none !important;
}

#top.row {
  display: none;
}

.headline-border-bottom.headline {
  display: none;
}

.row-order-step {
  display: none;
}

.row-order-step {
  display: none;
}

#footer-newsletter {
  display: none;
}

.checker span {
  background-position: -76px -260px !important;
  &.checked {
    background-position: 0px -260px !important;
  }
}

.row {
  .large-4.xlarge-3.columns.show-for-large-up {
    display: none !important;
  }
  .small-16.large-12.xlarge-13.columns {
    width: 100%;
    #main {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      form {
        width: 50%;
        margin-top: 120px;
        label:nth-child(5),
        label:nth-child(6) {
          display: none !important;
        }
        .medium-5 {
          width: 45%;
        }
        .row > .small-10.columns:nth-child(19) > .legend {
          width: 150%;
        }
        .row {
          .medium-offset-4 {
            margin-left: 0 !important;
            margin-top: 20px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
  .small-10.columns {
    .legend {
      margin-top: 15px;
      strong {
        display: inline-block;
      }
    }
  }
  .medium-4 {
    width: 50%;
  }
}

.jbShow {
  display: inline-block !important;
}
.row .text-right {
  justify-content: center;
  display: flex;
  margin-left: calc(50%);
}

.row .text-right {
  justify-content: center;
  display: flex;
  input.submit-next {
    font-size: 14px;
    text-shadow: none;
    box-shadow: none;
    background: #ff7b00 !important;
    background-image: url("../../../assets/sprint1/v1/white-array.png") !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
  }
}

.jbHidden {
  display: none !important;
}

.jbLegend {
  width: 100% !important;
}

.jbHidenInputsCompany.jbHidden + hr {
  display: none;
}

#header-logo {
  .show-for-large-up {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
}

.jbCode {
  display: flex;
  > label.inline-block {
    margin-right: 10px;
  }
}


.jbChecked{
  span:not(.checked){
    background-position: 0px -260px !important;
  }
  span.checked{
    background-position: -76px -260px !important;
  }
}