@import '../progressbar/progressbar-mixin.scss';

@include progressBarMixin(20px);
#breadcrumb{
    display: none !important;
}

#top.row{
    display: none;
}

#header-bg{
    .small-9.columns.text-right.show-for-large-up{
        display: none !important;
    }
}

#header-search-container{
    display: none !important;
}

.row-order-step{
    display: none;
}

.headline-border-bottom.headline{
    display: none;
}
form[action="koszyk,przeslij.html"] div:nth-child(1) > h3:nth-child(1):not(.jbTitle){
    display: none;
}

.row{
    .large-4.xlarge-3.columns.show-for-large-up{
        display: none !important;
    }
    #main{
        margin-top: 80px;
    }
    .small-16.large-12.xlarge-13.columns{
        width: 100%;
        justify-content: center;
        justify-items: center;
        display: flex;
        #main{
            display: flex;
            flex-direction: column;
            width: 60%;
            justify-content: center;
            align-items: center;
            .inside-step-shipping{
                justify-items: center;
                align-items: center;
                display: flex;
                flex-direction: column;
                &:before{
                    height: 15px;
                    content: 'a ';
                    background: white;
                    position: absolute;
                    width: 350px;
                    color: white;
                }
                >hr{
                    border: none;
                }
                form{
                    margin-top: 20px;
                    h3{
                        text-align: center;
                    }
                    .table-shipping{
                        thead{
                            h3{
                                font-size: 16px;
                            }
                            .headline-azure{
                                font-size: 12px;
                            }
                        }
                        tbody{
                            strong{
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}

#footer-newsletter{
    display: none;
}

#main > div.text-right 
{
    justify-content: center;
    display: flex;
    margin-left: calc(86%);
        > input{
        font-size: 14px;
        text-shadow: none;
        box-shadow: none;
        background: #ff7b00 !important;
        background-image: url('../../../assets/sprint1/v1/white-array.png') !important;
        background-repeat: no-repeat !important;
        background-position: right center !important;
    }
}