.jbUsp {
  background: #1e3250;
  font-family: "Noto Sans";
  font-size: 13px;
  color: #ffffff;
  text-align: center;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    text-decoration: underline;
    margin-left: 4px;
  }
}
