.parametry.parametry-top{
    margin-bottom: 10px;
    li:nth-child(n){
        display: none;
    }
    li:nth-child(2),
    li:last-child{
        display: flex;
        strong{
            margin-left: 6px;
        }
    }
}

.row.productreader > .small-9.medium-11.columns > .row > .small-16.medium-8.columns{
    width: 70%;
}

.row > .small-16.medium-8.columns{
    .headline-azure:not(.jbAddText) {
       // display: none !important;
    }
}

.jbNewDescription{
    line-height: 1.6;
    color: #6f819c;
    font-size: 12px;
    flex-direction: column;
    margin-bottom: 20px;
    display: flex;
    margin-bottom: 25px !important;
    padding-left: 0px !important;
    border-left: 0px solid black !important;
    br{
        display: none;
    }
}

.jbDescWrap{
    #opis {
        > h2:nth-child(1),
        >blockquote:nth-child(2),
        >hr:nth-child(3){
            display: none !important;
        }
    }
}

.jbWysylka{
    width: 100% !important;
}

.rectangle-promo{
    margin-left: 190px;
}

.save{
    max-width: 170px !important;
}

.jbWrapText{
    display: flex;
    height: 210px;
    //height: 150px;
    overflow: hidden;
    iframe{
        display: none !important;
    }
}

.jbSpecialWrapText{
    height: auto !important;
    br{
        display: none !important;
    }
    iframe{
        margin-top: 20px;
    }
}

.jbWrap{
    //width: 102%;
    //margin-left: -12px;
    //box-shadow: 2px -22px 7px -7px rgba(0,0,1,0.035);
    //-webkit-box-shadow: 2px -22px 7px -7px rgba(0,0,1,0.035);
  //§  margin-top: -7px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    background: white;
    color: #374150;
    font-size: 12px;
    font-weight: bold;
    &:after{
        content: url('../../../assets/sprint3/v9/chevron-1.svg');
    }
    span{
        cursor: pointer;
    }
}

.jbNoWrap{
   // box-shadow: 0 0px 0px 0px #666;
    //margin-top: 0px;
    &:after{
        transform: rotate(180deg);
    }
}

.small-9.medium-11.columns{
    .row{
        .show-for-medium-up{
            h1{
                font-size: 25px;
            }
        }
        .wysylka{
            background: url('../../../assets/sprint2/v5/truck_small.svg');
            background-repeat: no-repeat;
        }
    
        .medium-8.columns.col-price.show-for-medium-up{
            display: flex;
            flex-direction: column;
            padding: 20px;
            padding-right: 10px;
            border: 1px solid #a4bad9;
            border-radius: 5px;
            width: 27%;
            //margin-top: 12px;
            &:before{
                display: none;
            }
            .oldPirce, .price{
                color: white;
                font-size: 1px;
            }
            .oldPirce{
                margin-bottom: 2px;
                strong span{
                    font-size: 18px;
                }
            }
            .price strong{
                color: #F25749;
                span{
                    font-size: 30px;
                }
            }
            .save{
                border-color: #F25749;
                color: #F25749;
            }
            .add-cart-big{
                background: #FF7B00;
                border-radius: 3px;
                font-family: 'Noto Sans';
                font-weight: bold;
                font-size: 14px;
                color: #FFFFFF;
                text-align: center;
                width: 90% !important;
                span{
                    padding-left: 0px;
                    background-image: none;
                }
            }

            .jbAddButton{
                width: 60%;
                span{
                    &:before{
                        position: absolute;
                        left: 26px;
                        padding-top: 1.2px;
                        content: url('../../../assets/sprint2/v7/check-circle.svg');
                    }
                }
            }

            .jbRedirectToBasket{
                display: flex;
                margin-top: 8px;
                color: #FF7B00;
                font-size: 14px;
                font-weight: bold;
                &:after{
                    padding-left: 5px;
                    content: url('../../../assets/sprint2/v5/angle-right.svg');
                }
            }

            .jbWysylka{
                display: flex;
                flex-direction: row;
                font-family: 'Noto Sans';
                font-size: 13px;
                margin-top: 20px;
                color: #374150;
                font-weight: bold;
                width: 130%;
                img{
                    padding-right: 10px;
                }
            }
        }
    }
}

.productreader .add-clipboard{
    margin-left: 0px;
}

.jbHide{
    display: none !important;
}

.product-list{
    .rectangle-promo{
        margin-left: auto !important;
    }
}

