.jbHide{
    display: none;
}

.add-clipboard{
    //display: none;
}

.tab-gallery{
    padding-top: 80px;
    dl{
        background: none;
    }
}
.tabs-content.gallery{
    height: 200px;
}
.jbNewGallery{
    padding-top: 0px;
}
.add-cart-big {
    margin-top: 0px !important;
    font-size: 14px;
    text-shadow: none;
    box-shadow: none;
    background: #ff7b00 !important;
    width: 108%;
    margin-left: -12px;
    border-radius: 3px;
    border: #ff7b00;
    span{
        color: white;
        background: none;
        padding-left: 0px;
        background-image: none !important;
        &:after{
            //content: 'Dodaj do koszyka';
            position: absolute;
            left: calc(34%);
            background: #ff7b00;
        }
    }
}

.jbMargin{
    margin-top: 50px !important;
}

.jbGoToBasket{
    margin-top: 20px;
    margin-bottom: 15px;
    a{
        font-family: 'Noto Sans';
        font-weight: bold;
        font-size: 15px;
        color: #ff7b00;
        cursor: pointer;
    }
}

.jbTotalPrice{
    display: flex;
    flex-direction: column;
    position: absolute;
    line-height: 22px;
    .jbOldPrice,
    .jbNewPrice{
        .title{
            color: #3c4756;
            font-weight: bold;
            font-size: 12px;
            font-family: 'Noto Sans';
        }
    }
    .jbOldPrice{
        .value{
            color: #a2a4a9;
            font-size: 12px;
            text-decoration: line-through;
        }
    }
    .jbNewPrice{
        .value{
            font-size: 18px;
            font-weight: bold;
            color: #ff7a01;
            font-family: 'Noto Sans';
        }
    }
    .jbDiscount{
        color: #f25749;
        font-size: 13px;
        font-weight: bold;
        font-family: 'Noto Sans';
    }
}

#powiadom_info{
    position: absolute;
}

.price,
.oldPirce,
.save{
    display: none;
}

.small-16.columns.col-price.show-for-small-only{
    margin-top: 0px;
}

.jbPromoDiv .jbPromo{
    display: block !important;
}
.jbPromo,
.small-16.medium-8.columns .headline-azure{
    display: none;
}

.jbPromoDiv{
        margin-top: 15px;
        margin-bottom: -10px;
}
.add-cart-big.button-blue:not(.jbInBasket){
    &:before{
        content: url('../../../assets/sprint1/v1/check-circle-solid.svg');
        width: 15px;
        position: absolute;
        left: calc(50% - 64px);
        margin-top: 2px;
    }
}

.add-cart-big.jbToBasket{
    &::before{
        content: 'Dodaj do koszyka';
        color: white;
    }span{
        display: none;
    }
}