.wysylka {
  strong {
    color: black;
  }
}

.jbInfoHeader {
  display: flex;
  align-items: center;
  margin-left: 30px;
  span {
    font-size: 13px;
    color: #f14332;
    font-weight: bold;
    margin-left: 5px;
  }
}

.headline-border-bottom.headline {
  display: flex;
}
.cart_total_quantity:not(.jb) {
  display: none !important;
}
.cart_delete_link {
  padding-top: 0px;
}
.jbHide {
  display: none !important;
}

.jbSummary2 {
  height: 20px;
  display: flex;
  span {
    position: absolute;
    right: 155px;
    margin-top: 10px;
    color: #374150;
  }
}
.jbNewDeleteLink {
  padding-top: 20px;
}
.jbSummary {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  height: 40px;
  span {
    position: absolute;
    right: 155px;
    margin-top: 10px;
    color: #374150;
  }
  span:nth-child(2) {
    margin-top: 40px;
    right: 155px;
    color: #68ba61;
    font-size: 14px;
  }
}
.jb {
  background: white !important;
}
.cart_total_price {
  .jbTotal {
    margin-top: -10px;
    span {
      margin-right: 4px;
    }
  }
  .jbFreeDelivery {
    color: #68ba61;
    text-align: left;
    padding-top: 4px;
    span {
      padding-left: 8px;
      margin-right: 6px;
      font-size: 20px;
      color: #68ba61;
    }
  }
}
