@import '../progressbar/progressbar-mixin.scss';

@include progressBarMixin(20px);
#breadcrumb{
    display: none !important;
}

#top.row{
    display: none;
}

#header-bg{
    .small-9.columns.text-right.show-for-large-up{
        display: none !important;
    }
}

#main > form > hr{
    margin-top: 150px;
}
#main > form > div:nth-child(5){
    margin-bottom: -150px;
}

#header-search-container{
    display: none !important;
}

.row-order-step{
    display: none;
}

.checker{
    left: 1px !important
}

.headline-border-bottom.headline{
    display: none;
}

.row{
    .large-4.xlarge-3.columns.show-for-large-up{
        display: none !important;
    }

    .small-16.large-12.xlarge-13.columns{
        width: 100%;
        justify-content: center;
        justify-items: center;
        display: flex;
        #main{
            margin-top: 120px;
            width: 70%;
            justify-content: center;
            align-items: center;

            > label.long-check{
             //   display: none;
            }
        }
    }

    #main{
      .small-16.columns:not(.small-full){
          display: none;
      }
      .list-label{
          display: none;
      }
      hr:nth-child(6),
      hr:nth-child(10){
          display: none;
      }
      .alert-box.info-icon:nth-child(17){
          display: none;
      }
    }
    .small-16.small-full.columns{
        display: none;
    }
}

.cart_summary{
    .cart_total.bg-orange{
        background: #f5f7fa !important;
        color: #060606 !important;
    }
     .text-right .button-edit{
        display: none;
    }
}
#main > label{
    display: none !important;
}

.jbContract{
    display: flex;
    margin-top: 20px;
    padding-left: 0px;
}

.jbSms{
    margin-top: 14px;
    margin-bottom: -14px;
}

.jbHide{
    display: none !important;
}

.jbHide2{
    visibility: hidden;
}

.jbWhiteColor{
    color: white !important;
}

.jbShow{
    display: block !important;
}

.jbRow{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 40px;
    .jbRowDataOrderer,
    .jbRowAddressOrderer,
    .jbRowAddressDelivery{
        width: 33%;

        .legend{
            font-size: 23px;
            strong{
                display: inline-block;
            }
        }
        li{
            background: none;
            margin: 0;
            padding: 0;
            line-height: 1;
            list-style: none;
            border: none;
            text-shadow: none;
            box-shadow: none;
            padding: 10px 0;
            overflow: hidden;
            width: 100%;
            span{
                font-family: arial;
                font-size: 12px;
                display: inline-block;
                width: 31%;
                padding: 0 3% 0 0;
                text-align: right;
                color: #676f7b;
                background: none;
                float: left;
                padding-top: 1px;
                white-space: normal;
            }strong{
                color: #374150;
                font-size: 13px;
                float: left;
                width: 67%;
                font-weight: bold;
                line-height: inherit;
            }
        }
    }
    .jbRowAddressDelivery{
        .legend{
            padding-left: 20px;
        }
    }
    .jbRowAddressOrderer,
    .jbRowAddressDelivery{
        span{
            width: 43% !important;
            text-align: right !important;
        }
        strong{
            width: 57% !important;
        }
    }
}

#uniform-zgoda{
    span{
        &:after{
            content: '*';
            position: absolute;
            color: #000;
        }
    }
}

form[action="thankyou.html"]{
    strong{
        display: inline-block;
    }
    .medium-6.columns:nth-child(2){
        width: 50%;
    }
    .medium-6.columns:nth-child(4){
        position: absolute;
        width: 30%;
        right: calc(19.5%);
        display: flex;
    }
    .medium-10.columns:nth-child(3){
        width: 35%;
        position: absolute;
        margin-top: 45px;
    }
    .medium-10.columns:nth-child(5){
        width: 50%;
        margin-top: 45px;
    }
    .long-check{
        padding-left: 30px !important;
    }
}

.off-canvas-wrap section .text-right 
{
    margin-right: calc(14%);
    > input.submit-ok{
        font-size: 14px;
        text-shadow: none;
        box-shadow: none;
        background-image: none;
        text-align: center;
        background: #ff7b00 !important;
        padding-left: 20px;
    }
}

.show-for-large-up{
    display: none !important;  
}

#footer-newsletter{
    display: none;
}

.jbNewCheck{
    margin-top: -18px;
    margin-left: -2px;
    margin-bottom: 15px;
    background: white;
    .checker{
        background: white;
    }
   
}

.jbAgree{
    color: #adb1b7;
}

#main > form > label:nth-child(19){
    margin-bottom: 15px;
    color: #adb1b7;
}