.save {
  color: #f25749 !important;
  border: 1px dashed #f25749 !important;
}

.jbPromo {
  display: flex;
  margin-top: 20px;

  span {
    font-family: "Noto Sans";
    font-size: 12px;
    color: #f25749;
    margin-left: 5px;
    line-height: 1.3;
  }
}
