@import '../progressbar/progressbar-mixin.scss';

@include progressBarMixin(20px);
#breadcrumb{
    display: none !important;
}

#top.row{
    display: none;
}

#header-bg{
    .small-9.columns.text-right.show-for-large-up{
        display: none !important;
    }
}

#header-search-container{
    display: none !important;
}

.headline-border-bottom.headline{
    display: none;
}

.row-order-step{
    display: none;
}

#footer-newsletter{
    display: none;
}

.row{
    .large-4.xlarge-3.columns.show-for-large-up{
        display: none !important;
    }
    .small-16.large-12.xlarge-13.columns{
        width: 100%;
        #main{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            form{
                width: 50%;
                margin-top: 120px;
                label:nth-child(5), label:nth-child(6){
                    //display: none !important;
                }
                .medium-5{
                    width: 45%;
                }
                hr{
                    display: none;
                }
            }
        }
    }
}
#main > form > label:nth-child(5),
label[for="odbiore_osobiscie"]{
    padding-left: 0px !important;
}

.row .text-right {
    //justify-content: center;
    float: right;
    margin-right: 300px;
    display: flex;
    input.submit-next{
        font-size: 14px;
        text-shadow: none;
        box-shadow: none;
        background: #ff7b00 !important;
        background-image: url('../../../assets/sprint1/v1/white-array.png') !important;
        background-repeat: no-repeat !important;
        background-position: right center !important;
    }
}