@import "../progressbar/progressbar-mixin.scss";

@include progressBarMixin(20px);
#breadcrumb {
  display: none !important;
}

#top.row {
  display: none;
}

.row-order-step {
  display: none;
}

#footer-newsletter {
  display: none;
}

legend {
  margin-top: 15px;
}

.row {
  #main {
   // margin-top: 120px;
  }
}
#panel-fizyczna > form > .text-right > input.submit-next {
  font-size: 14px;
  text-shadow: none;
  box-shadow: none;
  background: #ff7b00 !important;
  background-image: url("../../../assets/sprint1/v1/white-array.png") !important;
  background-repeat: no-repeat !important;
  background-position: right center !important;
}

.row .text-right {
  justify-content: center;
  display: flex;
  float: right;
}

form[action="/rejestracja.html"] {
  #uniform-przenies.checker span {
    background-position: -76px -260px !important;
    &.checked {
      background-position: 0px -260px !important;
    }
  }
}
#panel-fizyczna > form > hr:nth-child(2),
#panel-fizyczna > form > div:nth-child(3),
#panel-firma > form > hr:nth-child(4),
#panel-firma > form > div:nth-child(5),
#panel-biblioteka > form > hr:nth-child(4),
#panel-biblioteka > form > div:nth-child(5) {
  display: none;
}

.jbShow {
  display: block !important;
}
