@import "../progressbar/progressbar-mixin.scss";

@include progressBarMixin(20px);
#breadcrumb {
  display: none !important;
}

#top.row {
  display: none;
}

.off-canvas-wrap
  > div
  > section
  > div
  > .large-4.xlarge-3.columns.show-for-large-up {
  margin-top: 50px;
}

.row-order-step {
  display: none;
}

.headline-border-bottom.headline {
  display: none;
}

#footer-newsletter {
  display: none;
}

#main {
  margin-top: 120px;
}

body
  > div.off-canvas-wrap
  > div
  > section
  > div
  > div:nth-child(4)
  > div.show-for-large-up {
  display: none !important;
}

.main-section > .row > .columns.show-for-large-up {
  display: none !important;
}

.main-section > .row > .small-16.columns:not(.xlarge-13) {
  display: none !important;
}
.main-section > .row {
  display: flex;
  justify-content: center;
}

.main-section .xlarge-13 {
  border-left: none !important;
}

#header-logo > .show-for-large-up {
  display: block !important;
}
