<div class="jbUsp">
  <span>Wprowadziliśmy nową stronę produktu, aby ułatwić wam robienie zakupów.
  </span>
  <a href="https://conversion.survey.fm/co-myślisz-o-stronie-czytam1" target="_blank">
    Daj znać, co o tym myślisz</a>
</div>