

.jbDeliveryInforContainer{
    display:flex;
    padding:20px;
    padding-left: 0px;
    &Icon{
        margin-right:14px;
        img{
            height:24px;
        }
    }
    &Text{
        color:#7cc576;
        font-size:12.5px;
        font-family: 'Noto Sans';
        font-weight: bold;
        width:260px;
    }
}
.jbHide{
    display: none;
}
.show-for-medium-up{
    .wysylka{
       // display: none;
    }
}
