.jbUspContainer {
  width: 100%;
  display: flex;
  padding: 10px;
  flex-direction: column;
  padding-right: 0px;
  margin-top: 20px;
  margin-bottom: 20px;

  &Row {
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    img {
      width: 24px;
      margin-right: 12px;
    }
    &Text {
      font-size: 11.4px;
      color: #374151;
      font-family: "Noto Sans";
    }
  }
}
.headline-azure {
  margin-bottom: 0px !important;
}
