.jbColumn {
    position: relative;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    float: left;
    width: 33.33%;
    height: 100%;
    display: flex;
   // justify-content: center;
}
.jbRow {
    height: 70px;
    background: #cee0ed;
    width: 100%;
    justify-content: center;
    display: flex;
    border-bottom: 1px solid #FFFFFF;
    span{
        margin-left: 10px;
        display: flex;
        font-family: 'Noto Sans';
        font-weight: bold;
        font-size: 12px;
        color: #374150;
        line-height: 1.3;
    }
    #jbUpsFirstText{
        width: 70%;
    }
    #jbUpsSecondText{
        width: 60%;
    }
}
.jbRowContent {
    width: 1170px;
    height: 100%;
}
.jbRow:after {
    content: "";
    display: table;
    clear: both;
}