<div id="#upsHeader" class="jbRow">
    <div class="jbRowContent">
        <div class="jbColumn">
            <img class="jbUpsImage" src="../../../assets/sprint2/v5/books.svg" />
            <span id="jbUpsFirstText">U nas możesz wybierać spośród 120 tys. pozycji - na pewno znajdziesz coś dla siebie!</span>
        </div>
        <div class="jbColumn">
            <img class="jbUpsImage" src="../../../assets/sprint2/v5/badge.svg" />
            <span id="jbUpsSecondText">Znamy się na książkach i wybieramy dla Ciebie te najbardziej wartościowe.</span>
        </div>
        <div class="jbColumn">
            <img class="jbUpsImage" src="../../../assets/sprint2/v5/truck.svg" />
            <span id="jbUpsThirdText">Ciesz się wymarzoną pozycją<br> w błyskawicznym tempie - wysyłka już dzisiaj!</span>
        </div>
    </div>
</div>