#main {
  .columns {
    width: 100%;
  }
  .legend {
    font-size: 28px;
    color: #374150;
    text-align: left !important;
    display: flex !important;
    justify-content: center;
    strong {
      margin-left: 4px;
    }
  }
  .jbLegend {
    flex-direction: column;
    align-items: center;
    strong {
      margin-left: 0px;
    }
  }
}