@mixin progressBarMixin($topValue: 116px, $position:absolute) {
    .jbProgressBar {
        display: -webkit-flex;
        display: flex;
        position: $position;
        -webkit-align-items: center;
        align-items: center;
        padding: 0 20px 0 0;
        top: $topValue;
        left: calc(50% - 260px);
        .jbProgressDoneStep,
        .jbProgressInactiveStep,
        .jbProgressCurrentStep,
        .jbProgressActiveStep {
            position: relative;
            max-height: 17px;
            cursor: pointer;
            .jbProgressLabel {
                position: absolute;
                top: 40px;
                left: 50%;
                transform: translateX(-50%);
                font-size: 12px;
                line-height: 14px;
                color: #7f6a6a;
                z-index: 1;
                text-align: center;
                white-space: nowrap;
                font-family: 'Noto Sans';
            }
            .jbProgressStep {
                font-size: 13px;
                color: #000;
                z-index: 1;
                position: absolute;
                left: 14px;
                top: 11px;
                font-family: 'Noto Sans';
            }
        }
        .jbProgressDoneStep{
            .jbProgressLabel{
                font-weight: bold;
                color: #7f6a6a !important;
            }
            &:after{
                content: url(../../../assets/sprint1/v1/step-done.svg);
                width: 30px;
                height: 30px;
            }
            .jbProgressStep {
                 visibility: hidden;
             }
        }
        .jbProgressInactiveStep {
            &:after {
                content: url(../../../assets/sprint1/v1/step.svg);
                font-size: 1px;
                color: #c1c1c1;
            }
            .jbProgressLabel {
                margin-bottom: 8px;
            }
        }
        .jbProgressActiveStep,
        .jbProgressCurrentStep {
            &:after {
                content: url(../../../assets/sprint1/v1/step-active.svg);
            }
            .jbProgressStep {
                color: white;
            }
            .jbProgressLabel{
                font-weight: bold;
            }
            
        }
        .jbProgressCurrentStep {
            .jbProgressLabel {}
        }
        .jbProgressLineEmpty,
        .jbProgressLineFilled {
            height: 1px;
            margin-top: 17px;
            display: flex;
            width: 150px;
        }
        .jbProgressLineFilled {
            background-color: #63a4ea;
        }
        .jbProgressLineEmpty {
            background-color: #63a4ea;
            border-bottom: #63a4ea 1px solid;
            border-top: #63a4ea 1px solid;
        }
    }
    #jbStepFour{
        cursor: auto;
    }
    .jbNoClick{
        cursor: default !important;
        pointer-events: none;
        cursor: default;
    }
    
}