@mixin progressBarMixin($topValue: 116px, $position:relative) {
    .jbProgressBar {
        display: -webkit-flex;
        display: flex;
        position: $position;
        -webkit-align-items: center;
        align-items: center;
        width: 100%;
        justify-content: center;
       // padding: 0 20px 0 0;
        top: $topValue;
        //left: calc(50% - 181.5px);
        margin-bottom: 65px;
        a{
            margin-right: -1px;
        }
        .jbProgressInactiveStep,
        .jbProgressCurrentStep,
        .jbProgressActiveStep {
            position: relative;
            max-height: 17px;
            .jbProgressLabel {
                position: absolute;
                top: 40px;
                left: 50%;
                transform: translateX(-50%);
                font-size: 13px;
                line-height: 16px;
                color: #0F2850;
                z-index: 1;
                text-align: center;
                white-space: nowrap;
                font-family: 'Noto Sans';
            }
            .jbProgressStep {
                font-size: 14px;
                color: #0F2850;
                z-index: 1;
                position: absolute;
                left: 14px;
                top: 11px;
                font-weight: bold;
                font-family: 'Noto Sans';
            }
        }
        .jbProgressInactiveStep {
            &:after {
                content: url(../../../assets/sprint2/v1/step.svg);
                font-size: 1px;
                color: #c1c1c1;
            }
            .jbProgressLabel {
                margin-bottom: 8px;
            }
        }
        .jbProgressActiveStep,
        .jbProgressCurrentStep {
            &:after {
                content: url(../../../assets/sprint2/v1/step-done.svg);
            }
            .jbProgressLabel{
                font-weight: bold;
            }
            .jbProgressStep {
                color: #fff;
            }
        }
        .jbProgressCurrentStep {
            .jbProgressLabel {}
        }
        .jbProgressLineEmpty,
        .jbProgressLineFilled {
            height: 1px;
            margin-top: 17px;
            display: flex;
            width: 55px;
        }
        .jbProgressLineFilled,
        .jbProgressLineEmpty {
            background-color: #63A4EA;
            border-bottom: #63A4EA 1px solid;
            border-top: #63A4EA 1px solid;
        }
    }
}