<div class="jbProgressBar">
    <a id="jbFirstHref" class="jbNoClick">
        <div id="jbStepOne" class="jbProgressInactiveStep">
            <span class="jbProgressLabel">Twoje<br> dane</span>
            <span class="jbProgressStep">1</span>
        </div>
    </a>
    <div id="jbLineTwo" class="jbProgressLineEmpty"></div>
    <a id="jbSecondHref" class="jbNoClick">
        <div id="jbStepTwo" class="jbProgressInactiveStep">
            <span class="jbProgressLabel">Dostawa<br> i płatność</span>
            <span class="jbProgressStep">2</span>
        </div>
    </a>
    <div id="jbLineThree" class="jbProgressLineEmpty"></div>
    <a id="jbThirdHref" class="jbNoClick">
        <div id="jbStepThree" class="jbProgressInactiveStep">
            <span class="jbProgressLabel">Przejrzyj<br> zamówienie</span>
            <span class="jbProgressStep">3</span>
        </div>
    </a>
    <div id="jbLineFour" class="jbProgressLineEmpty"></div>
    <div id="jbStepFour" class="jbProgressInactiveStep">
        <span class="jbProgressLabel">Gotowe!</span>
        <span class="jbProgressStep">4</span>
    </div>
</div>