.inside-step-shipping {
  > hr {
    display: none;
  }
}
div.selector,
div.checker,
div.button,
div.radio,
div.uploader {
  zoom: 130% !important;
}

.jbHidden {
  display: none;
}

.table-shipping {
  td {
    label[for="trp_39"] {
      top: -30px;
    }
    label[for="trp_10"] {
      br:first-child {
        display: none;
      }
    }
    label[for="trp_13"] {
      br:first-child {
        display: none;
      }
    }
    padding: 12px 28px 20px 20px !important;
    > div.red {
      margin-left: 30px !important;
      text-align: left !important;
      color: #4d4d4d !important;
    }
    > label {
      font-weight: normal;
      text-align: left;
      position: relative;
      padding-left: 30px;
      i {
        font-style: normal !important;
      }
      strong {
        font-size: 13px !important;
      }
      > .radio {
        position: absolute;
        left: -10px;
        top: 0;
      }
      > strong:nth-of-type(2) {
        font-weight: normal;
        &:after {
          content: " PLN";
        }
      }
      span.red {
        display: none;
      }
    }
    div.radio span {
      zoom: 132%;
    }
    .table-shipping td div.radio input {
      zoom: 150%;
    }
  }
  .radio + strong {
    font-weight: normal;
  }
  thead:nth-child(1) {
    display: none;
  }
}

.selector {
  width: 100% !important;
  margin-left: 0px !important;
}

b{
  font-weight: normal !important;
}
.red{
  font-weight: normal !important;
  line-height: 1.3;
}

#main > div.inside-step-shipping > form > div:nth-child(1) > table > thead{
  display: contents !important;
}