.row-order-step {
  display: none;
}

.headline-border-bottom {
  display: none;
}

#left {
  display: none;
}

.main-section {
  margin-top: 20px;
  > .row {
    .small-16.large-12.xlarge-13.columns {
      width: 100%;
      display: flex;
      justify-content: center;
      #main {
        width: 81.25%;
      }
    }
  }
}

.jbHeaderContent {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Noto Sans";
  color: #374150;
  font-size: 30px;
  font-weight: normal;
}

.jbHeader {
  display: none;
}

input[name="kodrab"] {
  background-color: #ebedef !important;
  color: #565d64 !important;
}
#info_gratis + .columns {
  display: none;
}
.submit-next {
  background: #ff7b00 !important;
  color: #fff !important;
  margin-right: 10% !important;
}

.info-icon {
  display: none;
}

.jbDeliveryContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
  float: right;
  > div {
    font-size: 14px;
    color: #374150;
    line-height: 24px;
  }
}

.cart_summary {
  margin-bottom: 0px !important;
}

.row-order-step {
  display: none;
}

#breadcrumb {
  display: none !important;
}

div[align="center"] .show-for-large-up {
  display: none !important;
}

input[name="kodrab"] {
  color: #565d64 !important;
  background: #ebedef !important;
}

.headline-border-bottom.headline {
  display: none;
}

.logout {
  margin-bottom: 20px;
}

.text-right form input.submit-next {
  font-size: 14px;
  text-shadow: none;
  box-shadow: none;
  background: #ff7b00 !important;
  background-image: url("../../../assets/sprint1/v1/white-array.png") !important;
  background-repeat: no-repeat !important;
  background-position: right center !important;
}

.jbNoLogin {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  span {
    font-size: 11.5px;
    color: #8497a7;
    font-family: "Noto Sans";
    font-weight: normal;
  }
  a {
    color: #ff800d;
    font-weight: bold;
  }
}

.main-section .xlarge-13 {
  border-left: none !important;
}
