.row-order-step{
    display: none;
}

#breadcrumb{
    display: none !important;
}

div[align="center"] .show-for-large-up{
    display: none !important;
}

input[name="kodrab"]{
    color: #565d64 !important;
    background: #ebedef !important;
}

.headline-border-bottom.headline{
    display: none;
}

.logout{
    margin-bottom: 20px;
}

.text-right form input.submit-next{
    font-size: 14px;
    text-shadow: none;
    box-shadow: none;
    background: #ff7b00 !important;
    background-image: url('../../../assets/sprint1/v1/white-array.png') !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
}

.jbHeader{
    background: url(https://czytam.pl/img/dott-h.png) bottom repeat-x;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.1;
    span{
        display: flex;
        left: calc(28%);
        position: relative;
        font-family: 'Noto Sans';
        color: #374150;
        font-size: 30px;
        font-weight: normal;
        margin-top: 0;
        line-height: 1.1;
    }
}

.jbNoLogin{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    span{
        font-size: 11.5px;
        color: #8497a7;
        font-family: 'Noto Sans';
        font-weight: normal;
    }a{
        color: #ff800d;
        font-weight: bold;
    }
}