.jbSSL{
    float: right;
    padding-right: 10px;
    display: flex;
    align-items: center;
    padding-top: 5px;
    img{

    }
    span{
        font-weight: bold;
        font-size: 14px;
        color: #1A55A6;
        line-height: 1.15;
        padding-left: 10px;
        display: flex;
    }
}