@import '../progressbar/progressbar-mixin.scss';

@media only screen and (max-width: 768px) {
    @include progressBarMixin(4px);

    footer{
        padding: 0px 0px 40px 0px !important;
        background: #cfe0ed;
    }

    .logout{
        padding-top: 10px;
    }

    .submit-ok{
        font-size: 14px;
        font-weight: 540 !important;
        text-shadow: none !important;
        box-shadow: none !important;
        background: #ff7b00 !important;
        background-image: url('../../../assets/sprint1/v1/white-array.png') !important;
        background-repeat: no-repeat !important;
        background-position: right center !important;
        //font-weight: bold;
        padding-left: 45px !important;
        padding-right: 45px !important;
    }

    #order_step,
    .headline-border-bottom.headline,
    #footer-newsletter,
    div[align="center"]{
        display: none;
    }

    .row-order-step{
        &:before{
            display: none;
        }
    }
}